*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

.area-cabecalho{
    /* border: 1px solid red; */
    padding: .9rem;
    background-color: #f7b600;
    text-align: center;
}

area.logo, .area-menu{
    padding: .7rem;
}

.logo-branca{
    color: #FFF;
}

.area-menu a{
    text-decoration: none;
}

.area-menu a:link, .area-menu a:visited{
    color: #FFF;
    padding: 8px 12px;
    border-radius: 6px;

    transition: .3s;
}

.area-menu a:hover{
    background-color: #FFF;
    color: #f7b600;
}

#area-principal{
    width: 57.5rem;
    /* border: 1px solid red; */
    margin: 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
}
#area-postagem{
    width: 41.25rem;
}
#area-lateral{}